<ion-header>
  <ion-navbar>
    <ion-title>
      Categories
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Category</ion-label>
    <ion-input type="text" name="categoryName" [(ngModel)]="categoryName"></ion-input>
  </ion-item>

  <ion-item no-lines padding>
    <button ion-button full (click)="add()" *ngIf="!edit">Add</button>
    <button ion-button full (click)="save()" *ngIf="edit">Update</button>
  </ion-item>

  <ion-list>
    <ion-list-header padding style="text-align: center">
      <h1>List of Categories</h1>
    </ion-list-header>
    <ion-item *ngFor="let category of categoriesList | async">
      <ion-row>
        <ion-col col-8>
          <h2>{{ category.name }}</h2>
        </ion-col>
        <ion-col col-2>
            <button ion-button clear icon-only (click)="update(category.id, category.name)">
              <ion-icon name="create"></ion-icon>
            </button>
            </ion-col>
            <ion-col col-2>
            <button ion-button clear icon-only color="danger" (click)="delete(category.id)">
              <ion-icon name="trash"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>